<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MercadoLibre">
    <!-- ******************************************************************************** -->
    <!--                         Suite MercadoLibre                                           -->
    <!-- ******************************************************************************** -->
    <listeners>
        <listener class-name = "utils.TestListener"/>
    </listeners>
    <test name="MercadoLibre">
        <!-- <parameter name="udid" value="emulator-5554" />-->
       <!--  <parameter name="deviceName" value="Emulador" />-->
         <classes>
             <class name="test.BusquedaProducto"/>
         </classes>
     </test>
 </suite> <!-- Suite -->