<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MercadoLibre">
    <!-- ******************************************************************************** -->
    <!--                         Suite MercadoLibre                                           -->
    <!-- ******************************************************************************** -->
    <listeners>
        <listener class-name = "utils.TestListener"/>
    </listeners>
    <test name="test.BusquedaDeProducto">

        <!--  <parameter name="browser" value="chrome" />-->
          <classes>
              <class name="test.BusquedaDeProducto">
                  <!--<methods><include name="selectVehiculos"/></methods>-->
                 <!--<methods><include name="selectVehiculos"/></methods>-->
             </class>
         </classes>
     </test>
 </suite> <!-- Suite -->